body {
  color: #333333;
  font-family: aerial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  text-decoration: none;
  color: #888888;
  margin-right: 16px;
}

.portrait {
  width: 250px;
}

.main-content {
  flex-grow: 1;
}

input {
  padding: 8px;
  border: 1px solid rgb(30, 131, 149);
  border-radius: 10px;
}

button {
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(32, 191, 67);
  border: none;
  cursor: pointer;
  color: white;
  display: inline-block;
}

button:hover {
  background-color: rgb(4, 242, 4);
}
